body {
	background: #1A1A1A; 
	color: #ffffff; 
	font-size: 20px;
	font-family: Helvetica, sans-serif;
	position: relative;
	align-items: center;
	box-sizing: border-box;
    width: 1500px;
    margin: 0 auto;
}
a {
	text-decoration: none;
}

.main_text {
	text-align: center;
	font-size: 60px;
	margin-top: 0px;
	position: relative;
	box-sizing: border-box;
}

.my_links {
	font-size: 40px;
}

.links {
	text-align: center;
	padding-bottom: 150px;
}

#my_youtube {
	color: #ff0000;
}

.app_name {
	font-size: 50px;
	text-align: center;
}

.download_button  {
	background: #00ff00;
	font-size: 60px;
	transition: 0.5s all;
	text-align: center;
}

.download_link {
	transition: 0.5s all;
	font-size: 60px;
	color: #ffffff;
}

.github_link {
	color: #ffffff;
	font-size: 60px;
	transition: 0.5s all;
}

.github_button {
	background: #232323;
	color: #ffffff;
	font-size: 60px;
	transition: 0.5s all;
	text-align: center;
}

.youtube_link {
	color: #ffffff;
	font-size: 60px;
	transition: 0.5s all;
}

.youtube_button {
	background: #424242;
	color: #ffffff;
	font-size: 60px;
	transition: 0.5s all;
	text-align: center;
}

.download_link:hover {
	font-size: 100px;
}

.github_link:hover {
	font-size: 100px;
}

.youtube_link:hover {
	font-size: 100px;
}

.app_information {
	margin: 20px;
	font-size: 25px;
}

.app_image{
	margin: 10px;
	position: relative;
}

.header {
	position: relative;
	box-sizing: border-box;
}

.file_protect {
  	align-items: center;
	border: 5px;
	border-color: #60E200;
	border-style: solid;
	background: #323232;
	margin: 80px;
	position: absolute;
	margin: 0 auto;
	padding: 10px; /* Поля вокруг текста */
}
.creator {
	font-size: 50px;
}
.goback {
	color:white;
}
.maincontacts {
  	align-items: center;
	border: 5px;
	border-color: #60E200;
	border-style: solid;
	background: #323232;
	margin: 80px;
	position: absolute;
	margin: 0 auto;
	width: 1500px;
	padding: 10px; /* Поля вокруг текста */
}